{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "runtime": "automatic"  // Enables automatic JSX runtime for React
        }
      ],
      ["module-resolver", {
        "root": ["./"],
          "alias": { "@": "./imports" }
        }
      ]
    ]
  }
